<div id="add_menu"style="display:inline-block; border:2px solid black; padding:2px;">
	<span><b>ADD JOB MENU</b></span><br/>
	<label>Title:</label>
	<input id="title" type="text"><br/>
	<label>Description:</label>
	<input id="description" type="text"><br/>
	<label>Contract:</label>
	<input id="contract" type="text"><br/>
	<button id="add">Add Job</button>
</div>
<hr/>
<div style="display:inline-block; margin-right:auto; border:2px solid black; padding:2px;">
	<div><b>JOB LIST</b> (click job title to view/edit details)</div><br/>
	<div style="border-bottom:1px solid black">active/inactive</div>
	<ul id="job_list" style="list-style:none; margin:0px; padding:0px;"></ul>
</div>